body { font-family: 'Cantarell', sans-serif;
       background-image: url('img/tauko_new.jpg');
       background-repeat: no-repeat;
       background-position: right top;
       background-attachment: fixed;
     }

a { text-decoration: none;
    color: #73A7C1;
}

/* IE shit */
a img {border: 1px solid #ffffff;} 

ul { list-style: none;
}

li { list-style: none;
}

#jelly { position: relative;
	 margin: 0px auto;
	 width: 1000px;
       }

#content { position: relative;
	   width: 100%;
	 }

.site-header { position: relative;
	       width: 100%;
	       margin-top: 50px;
	       margin-bottom: 25px;
	     }

.main-navigation { height: 40px;
		 }

.tauko_box {
    background-color: #fff;
    padding: 40px;
    margin:   9.3px;
    line-height: 1.4em;
    border: 1.1px dashed #000;
    border-radius: 1.5px;
    display: inline-block;
}

.tauko_box_head {
   display: inline-block;
   position: absolute;
   bottom: -10px;
   left: 15px;
   font-size:80%;
   width: 150px;
   padding-left:5px;
   border: 1.1px dashed #000;
   color: #fff;
   background-color:#fff;
}

div.nav_menu { display: block;
	       position: absolute;
	       float: left;
	       left: 60px;
}

div.nav_menu ul { list-style-type: none; 
		  position: relative;
		}

/* General nav */
div.nav_menu ul li {
    font-size: 12px;
    display: inline-block;
    list-style-type: none;
    float: left;
    padding: 10px 12px 8px 12px;
    z-index: 1000;
    overflow: visible;
    white-space: nowrap;
}

/*Top nav*/
div.nav_menu > ul > li {
    width: 115px;
    height: 21px;
    text-align: center;
    margin-right: 5px;
}

/*First children*/
div.nav_menu ul.children li { position: relative;
		    text-align: left;
		    top: 10px;
		    left: -52px;
		    visibility: hidden;
		    width: 220px;
}

div.nav_menu li:hover > ul.children > li {
    visibility: visible;
}

div.nav_menu ul a:link,
div.nav_menu ul a:visited	{ color: #fff; text-decoration: none; }
div.nav_menu ul a:hover		{ color: #F9F9F9; }
div.nav_menu ul a:active	{ color: #FFF; }

.content_grid_text { width: 462px; }

.gallery_text { width: 200px; }

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
